/* src/index.css */

.gradient {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(334deg, #27292c, #4e4b52, #b6b1b4);
  background-size: 180% 180%;
  animation: gradient-animation 6s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}


.authpage-hero {
  background: #f75709;
  align-content: center;
  border-radius: 20px;
  font-size: 18px;
  padding: 32px;
  height: 93%;
  flex: 3;
  margin: 30px;
}

.authform {
  background: #181818;
  font-size: 18px;
  height: 100%;
  flex:1;
  align-items:center;
  justify-content: top;
}

.authpage {
  background: #e4e3e1;
  height: 100vh;
}

.commonButton {
  background: #d3d8d7e2;
}

.headings {
  color: #f75809b3;
  font-size:50px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.smallheading {
  font-size:18px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: black;
}

.paragraph {
  color: black;
  font-size:12px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.authpage-hero-cards {
  background-color: #f7580955;
  font-size:50px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.sidenavbar {
  flex: 1;
  height: 100vh;
  align-items: flex-end;  /* Ensures items are aligned to the left horizontally */
  justify-content: top;
}

.page-footer {
  align-items: flex-start;
  width: 100%;
  height: auto;
  padding-top: 50px;
}

.homepage {
  background: #fcfbf9;
}
